.header{
    padding: 20px;
    background-color: #1d9;
}
.canvas{
    background-color: #f75;
    padding: 10px;
    display: grid;
    justify-content: center;
    align-content: center;
}
.canvas__pixel{
    background-color: #fff;
    padding: auto;
    border: 1px solid #aaaa;
}
.paint{
    background-color: #833;
    display: inline-flex;
}
.paint__area{
    padding: 10px;
}
.paint__menu{
    padding: 5px;
    background-color: #0ff;
    display: grid;
    grid-auto-rows: auto;
    align-content:center;
}
.button{
    padding: 5px;
    margin: 5px;
    width:50px;
    text-align: center;
    height: fit-content;
}